# Prepare the genetic map as well as the allele Frequencies for bcfTools

In [1]:
import pandas as pd
import numpy as np
import socket
import os as os
import sys as sys
import multiprocessing as mp
import h5py

socket_name = socket.gethostname()
print(socket_name)
if socket_name == "VioletQueen":
    path = "/home/harald/git/HAPSBURG/"   # The Path on Harald's machine
elif socket_name.startswith("midway2"):
    print("Midway jnovmbre partition detected.")
    path = "/project2/jnovembre/hringbauer/HAPSBURG/"  # The Path on Midway Cluster
else: 
    raise RuntimeWarning("Not compatible machine. Check!!")
    
os.chdir(path)  # Set the right Path (in line with Atom default)

sys.path.append("./PackagesSupport/h5_python/")
from h5_functions import load_h5   # Import Function to convert hdf5 to vcf

print(os.getcwd()) # Show the current working directory. Should be HAPSBURG/Notebooks/ParallelRuns
print(f"CPU Count: {mp.cpu_count()}")

VioletQueen
/home/harald/git/HAPSBURG
CPU Count: 4

### Generate the Map File
position COMBINED_rate(cM/Mb) Genetic_Map(cM)

In [2]:
def prep_map_file(snp1240k_path = "./Data/1000Genomes/Markers/MinMyc.snp", ch=3):
    """Prepare map file in bcftools format at save_path from snp1240k_path"""
    save_path = f"./Data/1000Genomes/Markers/rec_map_bcf.chr{ch}.txt"
    
    df_snp = pd.read_csv(snp1240k_path, header=None, sep=r"\s+", engine="python")
    df_snp.columns = ["SNP", "chr", "map", "pos", "ref", "alt"]
    df_snp["map"] = df_snp["map"] * 100  # Switch to cm Map Position
    df_snp = df_snp[df_snp["chr"] == ch]
    print(f"Loaded {len(df_snp)} SNPs from Chr. {ch}")
    
    df_save = df_snp[["pos", "map", "map"]].copy()
    df_save.columns = ["position","COMBINED_rate(cM/Mb)", "Genetic_Map(cM)"]
    df_save["COMBINED_rate(cM/Mb)"] = 1.0
    df_save.to_csv(save_path, sep=" ", index=None)

In [4]:
prep_map_file(ch=3)

Loaded 81416 SNPs from Chr. 3

### Generate the Allele Frequency File
Tab delimited file with:
CHROM\tPOS\tREF,ALT\tAF

In [4]:
def prep_af_file(h5_path = "./Data/1000Genomes/HDF5/1240kHDF5/Eur1240chr3.hdf5", ch=3):
    """Prepare Allele Frequency File for bcftools from h5"""
    savepath = f"./Data/1000Genomes/Markers/af_1000G_EUR_bcf.chr{ch}.txt"

    f = load_h5(path = h5_path)
    p = np.mean(np.mean(f["calldata/GT"], axis=1), axis=1)   # Calculate Mean Allele Frequencies
    df_t = pd.DataFrame({"CHROM":f["variants/CHROM"][:], "POS":f["variants/POS"][:], 
                         "REF":f["variants/REF"][:], "ALT":f["variants/ALT"][:,0],
                          "AF":p})
    
    #df_t["REF"] = df_t["REF"] +","+ df_t["ALT"]
    #df_t.drop(columns="ALT", inplace=True) # Delete Merged column

    df_t.to_csv(savepath, sep="\t", index=None, header=False) # Write the tab delimited file
    
    savepath_c = savepath + ".gz"
    !bgzip -c $savepath > $savepath_c # Compress
    !tabix -s1 -b2 -e2 $savepath_c   # Tabix
    
    print(f"Saved {len(df_t)} AFs to {savepath_c}")

In [5]:
prep_af_file(ch=3)

Loaded HDF5
Loaded 77652 variants
Loaded 503 individuals
['GT']
['ALT', 'CHROM', 'FILTER_PASS', 'ID', 'MAP', 'POS', 'QUAL', 'REF']
Saved 77652 AFs to ./Data/1000Genomes/Markers/af_1000G_EUR_bcf.chr3.txt.gz

# Area 51

In [12]:
list(f)

['calldata', 'samples', 'variants']

In [7]:
ch=3
save_path = f"./Data/1000Genomes/Markers/rec_map_bcf.chr{ch}.txt"

df_t = pd.read_csv(save_path, sep=" ")

In [50]:
savepath = "./Data/1000Genomes/Markers/af_1000G_EUR_bcf.chr3.txt"
df_t = pd.read_csv(savepath, sep="\t", header=None)

In [51]:
df_t

       0          1    2         3
0      3      63411  A,C  0.425447
1      3      66894  G,A  0.284294
2      3      76317  T,C  0.220676
3      3      82010  A,G  0.179920
4      3      95973  C,T  0.682903
5      3     104972  A,G  0.348907
6      3     105365  T,C  0.345924
7      3     107626  A,C  0.072565
8      3     108226  A,G  0.128231
9      3     108804  G,A  0.356859
10     3     108993  A,G  0.185885
11     3     114133  T,C  0.356859
12     3     115040  G,A  0.165010
13     3     117152  C,A  0.355865
14     3     118567  C,A  0.000000
15     3     119892  G,A  0.548708
16     3     120321  G,A  0.517893
17     3     121226  C,T  0.353877
18     3     121958  G,A  0.000000
19     3     125808  A,G  0.167992
20     3     126158  C,A  0.000994
21     3     127677  A,G  0.000000
22     3     133412  G,A  0.742545
23     3     133748  G,A  0.000994
24     3     134139  C,T  0.000000
25     3     135757  T,C  0.000994
26     3     135806  A,C  0.782306
27     3     135900  C,T  0.001988
28     3     140137  T,C  0.003976
29     3     140194  T,C  0.782306
...   ..        ...  ...       ...
77622  3  197695057  A,G  0.188867
77623  3  197695623  A,G  0.053678
77624  3  197701913  G,T  0.117296
77625  3  197716488  G,A  0.016899
77626  3  197724348  A,G  0.901590
77627  3  197734880  G,A  0.117296
77628  3  197744198  A,G  0.247515
77629  3  197753615  C,T  0.000000
77630  3  197755070  T,C  0.056660
77631  3  197759785  G,A  0.165010
77632  3  197762623  G,A  0.237575
77633  3  197766946  G,A  0.237575
77634  3  197769124  C,T  0.109344
77635  3  197772162  G,A  0.028827
77636  3  197775690  A,C  0.001988
77637  3  197775758  C,A  0.873757
77638  3  197780227  A,G  0.393638
77639  3  197792756  C,T  0.095427
77640  3  197793905  C,T  0.095427
77641  3  197794027  A,G  0.746521
77642  3  197794284  C,T  0.095427
77643  3  197798938  A,G  0.431412
77644  3  197802470  G,A  0.093439
77645  3  197802495  G,A  0.095427
77646  3  197804058  G,A  0.095427
77647  3  197813975  T,G  0.463221
77648  3  197814108  G,A  0.426441
77649  3  197815087  C,T  0.015905
77650  3  197834365  A,G  0.347913
77651  3  197836412  T,G  0.126243

[77652 rows x 4 columns]