# Notebook to Prepare 1000 Genomes Data

In [3]:
import allel
import h5py  # Python Package to do the HDF5.
import numpy as np
import pandas as pd

In [26]:
#path_vcf = "../Data/1000Genomes/ALL.chrX.phase3_shapeit2_mvncall_integrated_v1b.20130502.genotypes.vcf.gz" # Path of VCF
path_vcf = "../Data/1000Genomes/1000gX1240kEur.vcf"
#h5_path = "../Data/1000Genomes/1000Genomes_X.hdf5"
h5_path = "../Data/1000Genomes/1000gX1240kEur.hdf5"
ind_path = "../Data/1000Genomes/integrated_call_samples_v2.20130502.ALL.ped"  # Family Relationships
pop_path = "../Data/1000Genomes/integrated_call_samples_v3.20130502.ALL.panel" # Population Information

## Do the Conversion to HDF 5 
Comment out

In [30]:
### Do the conversion to hdf5 (if not done already)
# geno = allel.read_vcf(path_vcf) # Load the VCF # Load the VCF # Needs too much Memory for my laptop
allel.vcf_to_hdf5(input=path_vcf, output=h5_path, compression="gzip") # Do the conversion to hdf5. Takes 10 Minutes

In [28]:
## Load HDF5
f = h5py.File(h5_path, "r") # Load for Sanity Check. See below!
print("Loaded %i variants" % np.shape(f["calldata/GT"])[0])
print("Loaded %i individuals" % np.shape(f["calldata/GT"])[1])
print(list(f["calldata"].keys()))
print(list(f["variants"].keys()))
#print(list(f["samples"].keys()))

Loaded 47486 variants
Loaded 503 individuals
['GT']
['ALT', 'CHROM', 'FILTER_PASS', 'ID', 'POS', 'QUAL', 'REF']

In [5]:
### Load the ID of the Individuals
ids = np.array(f["variants/ID"])
df_s_empirical = pd.DataFrame({'Individual ID' : list(f["samples"])})

In [6]:
df_s_empirical["Individual ID"] = df_s_empirical["Individual ID"].str.split("_").str[-1]

# Load and Merge Individual Meta Data

In [7]:
df_i = pd.read_csv(ind_path, sep="\t")
print(f"Loaded {np.shape(df_i)[0]} Individuals")

df_pops = pd.read_csv(pop_path, sep="\t")
print(f"Loaded {np.shape(df_i)[0]} Population Data")

### Merge with IDs in Genotype File
df = pd.merge(df_s_empirical, df_i, on='Individual ID', how='inner')
df = pd.merge(df, df_pops, left_on="Individual ID", right_on="sample", how="inner")
print(f"Merged from {len(df_s_empirical)} to {len(df)} individuals")
assert(len(df_s_empirical) == len(df))  # Sanity Check

Loaded 3691 Individuals
Loaded 3691 Population Data
Merged from 2504 to 2504 individuals

In [8]:
df["Population"].value_counts()

GWD    113
YRI    108
TSI    107
IBS    107
CHS    105
JPT    104
PUR    104
CHB    103
GIH    103
ITU    102
STU    102
FIN     99
KHV     99
CEU     99
ESN     99
LWK     99
ACB     96
PJL     96
CLM     94
CDX     93
GBR     91
BEB     86
MSL     85
PEL     85
MXL     64
ASW     61
Name: Population, dtype: int64

In [36]:
#df[df["Paternal ID"] != "0"]

# Save Individual List
Save table with Individual and Family IDs

In [23]:
save_path = "../Data/1000Genomes/EUR.csv"

eur_inds = df["super_pop"]=="EUR"
print(f"Nr of European Samples: {np.sum(eur_inds)}")

df_save = df[eur_inds]
df_save = df_save[["Family ID", "Individual ID"]] # Extract column of Individual and Family ID
df_save.to_csv(save_path, sep="\t", header=None, index=False)
print(f"Saved to {save_path}. Nr Individuals: {len(df_save)}")


### Do the same, but for families
save_path = "../Data/1000Genomes/EUR_fam.csv"

eur_inds = df["super_pop"]=="EUR"
print(f"Nr of European Samples: {np.sum(eur_inds)}")

df_save = df[eur_inds]
df_save = df_save["Individual ID"] # Extract column of Individual and Family ID
df_save.to_csv(save_path, sep="\t", header=None, index=False)
print(f"Saved to {save_path}. Nr Individuals: {len(df_save)}")

Nr of European Samples: 503
Saved to ../Data/1000Genomes/EUR.csv. Nr Individuals: 503
Nr of European Samples: 503
Saved to ../Data/1000Genomes/EUR_fam.csv. Nr Individuals: 503

# Check against Sardinian X data

In [11]:
path_snp = "../../ancient-sardinia/data/bed/full230.snp" # All SNPs found in the 1240k Ancient Panel

df_snp = pd.read_csv(path_snp, header=None, sep=r"\s*", engine="python")
df_snp.columns = ["SNP", "chr", "map", "pos", "ref", "alt"]
df_snp = df_snp[df_snp["chr"]==23]

print(f"Loaded {len(df_snp)} X SNPs.")

/usr/local/lib/python3.6/dist-packages/pandas/io/parsers.py:2230: FutureWarning: split() requires a non-empty pattern match.
  yield pat.split(line.strip())
/usr/local/lib/python3.6/dist-packages/pandas/io/parsers.py:2232: FutureWarning: split() requires a non-empty pattern match.
  yield pat.split(line.strip())

Loaded 49711 X SNPs.

# Save  interesection with 1240k Marker 
Prepare txt List for Plink filtering

In [12]:
save_path = "../Data/1000Genomes/variants1240k"

found = np.isin(f["variants/POS"], df_snp["pos"])
print(f"Intersection: {np.sum(found)} out of {len(found)} SNPS")
variants = f["variants/ID"][found]

dots = np.where(variants == ".")[0]
print(f"Found {len(dots)} unnamed SNPs")
variants = np.delete(variants, dots)

np.savetxt(save_path, variants, fmt="%s")
print(f"Successfully saved to {save_path}. Length: {len(variants)}")

Intersection: 48298 out of 3468093 SNPS
Found 812 unnamed SNPs
Successfully saved to ../Data/1000Genomes/variants1240k. Length: 47486

In [15]:
samples = list(f["samples"])

# Area 51

In [21]:
df[df["Population"]=="CEU"]

,Individual ID,Family ID,Paternal ID,Maternal ID,Gender,Phenotype,Population,Relationship,Siblings,Second Order,...,phase 3 genotypes,related genotypes,omni genotypes,affy_genotypes,sample,pop,super_pop,gender,Unnamed: 4,Unnamed: 5
1656,NA06984,1328,0,0,1,0,CEU,father,0,0,...,1,0,1,1,NA06984,CEU,EUR,male,NaN,NaN
1657,NA06985,1341,0,0,2,0,CEU,mat grandmother,0,0,...,1,0,1,1,NA06985,CEU,EUR,female,NaN,NaN
1658,NA06986,13291,0,0,1,0,CEU,mat grandfather,0,0,...,1,0,1,1,NA06986,CEU,EUR,male,NaN,NaN
1659,NA06989,1328,0,0,2,0,CEU,mother,0,0,...,1,0,1,1,NA06989,CEU,EUR,female,NaN,NaN
1660,NA06994,1340,0,0,1,0,CEU,pat grandfather,0,0,...,1,0,1,1,NA06994,CEU,EUR,male,NaN,NaN
1661,NA07000,1340,0,0,2,0,CEU,pat grandmother,0,0,...,1,0,1,1,NA07000,CEU,EUR,female,NaN,NaN
1662,NA07037,13291,0,0,2,0,CEU,pat grandmother,0,0,...,1,0,1,1,NA07037,CEU,EUR,female,NaN,NaN
1663,NA07048,1341,NA07034,NA07055,1,0,CEU,father,0,0,...,1,0,1,1,NA07048,CEU,EUR,male,NaN,NaN
1664,NA07051,13292,0,0,1,0,CEU,mat grandfather,0,0,...,1,0,1,1,NA07051,CEU,EUR,male,NaN,NaN
1665,NA07056,1340,0,0,2,0,CEU,mat grandmother,0,0,...,1,0,1,1,NA07056,CEU,EUR,female,NaN,NaN
1666,NA07347,1345,0,0,1,0,CEU,pat grandfather,0,0,...,1,0,1,1,NA07347,CEU,EUR,male,NaN,NaN
1667,NA07357,1345,0,0,1,0,CEU,mat grandfather,0,0,...,1,0,1,1,NA07357,CEU,EUR,male,NaN,NaN
1668,NA10847,1334,NA12146,NA12239,2,0,CEU,mother,0,0,...,1,0,1,1,NA10847,CEU,EUR,female,NaN,NaN
1669,NA10851,1344,NA12056,NA12057,1,0,CEU,father,0,0,...,1,0,1,1,NA10851,CEU,EUR,male,NaN,NaN
1670,NA11829,1350,0,0,1,0,CEU,pat grandfather,0,0,...,1,0,1,1,NA11829,CEU,EUR,male,NaN,NaN
1671,NA11830,1350,0,0,2,0,CEU,pat grandmother,0,0,...,1,0,1,1,NA11830,CEU,EUR,female,NaN,NaN
1672,NA11831,1350,0,0,1,0,CEU,mat grandfather,0,0,...,1,0,1,1,NA11831,CEU,EUR,male,NaN,NaN
1673,NA11832,1350,0,0,2,0,CEU,mat grandmother,0,0,...,1,0,1,1,NA11832,CEU,EUR,female,NaN,NaN
1674,NA11840,1349,0,0,2,0,CEU,mat grandmother,0,0,...,1,0,1,1,NA11840,CEU,EUR,female,NaN,NaN
1675,NA11843,1349,0,0,1,0,CEU,pat grandfather,0,0,...,1,0,1,1,NA11843,CEU,EUR,male,NaN,NaN
1676,NA11881,1347,0,0,1,0,CEU,mat grandfather,0,0,...,1,0,1,1,NA11881,CEU,EUR,male,NaN,NaN
1677,NA11892,1377,0,0,2,0,CEU,pat grandmother,0,0,...,1,0,1,1,NA11892,CEU,EUR,female,NaN,NaN
1678,NA11893,1377,0,0,1,0,CEU,mat grandfather,0,0,...,1,0,1,1,NA11893,CEU,EUR,male,NaN,NaN
1679,NA11894,1377,0,0,2,0,CEU,mat grandmother,0,0,...,1,0,1,1,NA11894,CEU,EUR,female,NaN,NaN
1680,NA11918,1423,0,0,2,0,CEU,pat grandmother,0,0,...,1,0,1,1,NA11918,CEU,EUR,female,NaN,NaN
1681,NA11919,1423,0,0,1,0,CEU,mat grandfather,0,0,...,1,0,1,1,NA11919,CEU,EUR,male,NaN,NaN
1682,NA11920,1423,0,0,2,0,CEU,mat grandmother,0,0,...,1,0,1,1,NA11920,CEU,EUR,female,NaN,NaN
1683,NA11930,1424,0,0,1,0,CEU,pat grandfather,0,0,...,1,0,1,1,NA11930,CEU,EUR,male,NaN,NaN
1684,NA11931,1424,0,0,2,0,CEU,pat grandmother,0,0,...,1,0,1,1,NA11931,CEU,EUR,female,NaN,NaN
1685,NA11932,1424a,0,0,1,0,CEU,mat grandfather,0,0,...,1,0,1,1,NA11932,CEU,EUR,male,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1725,NA12717,1358,0,0,2,0,CEU,pat grandmother,0,0,...,1,0,1,1,NA12717,CEU,EUR,female,NaN,NaN
1726,NA12718,1358,0,0,2,0,CEU,mat grandmother,0,0,...,1,0,1,1,NA12718,CEU,EUR,female,NaN,NaN
1727,NA12748,1444,0,0,1,0,CEU,pat grandfather,0,0,...,1,0,1,1,NA12748,CEU,EUR,male,NaN,NaN
1728,NA12749,1444,0,0,2,0,CEU,pat grandmother,0,0,...,1,0,1,1,NA12749,CEU,EUR,female,NaN,NaN
1729,NA12750,1444,0,0,1,0,CEU,mat grandfather,0,0,...,1,0,1,1,NA12750,CEU,EUR,male,NaN,NaN
1730,NA12751,1444,0,0,2,0,CEU,mat grandmother,0,0,...,1,0,1,1,NA12751,CEU,EUR,female,NaN,NaN
1731,NA12760,1447,0,0,1,0,CEU,pat grandfather,0,0,...,1,0,1,1,NA12760,CEU,EUR,male,NaN,NaN
1732,NA12761,1447,0,0,2,0,CEU,pat grandmother,0,0,...,1,0,1,1,NA12761,CEU,EUR,female,NaN,NaN
1733,NA12762,1447,0,0,1,0,CEU,mat grandfather,0,0,...,1,0,1,1,NA12762,CEU,EUR,male,NaN,NaN
1734,NA12763,1447,0,0,2,0,CEU,mat grandmother,0,0,...,1,0,1,1,NA12763,CEU,EUR,female,NaN,NaN
1735,NA12775,1451,0,0,1,0,CEU,pat grandfather,0,0,...,1,0,1,1,NA12775,CEU,EUR,male,NaN,NaN
1736,NA12776,1451,0,0,2,0,CEU,pat grandmother,0,0,...,1,0,1,1,NA12776,CEU,EUR,female,NaN,NaN
1737,NA12777,1451,0,0,1,0,CEU,mat grandfather,0,0,...,1,0,1,1,NA12777,CEU,EUR,male,NaN,NaN
1738,NA12778,1451,0,0,2,0,CEU,mat grandmother,0,0,...,1,0,1,1,NA12778,CEU,EUR,female,NaN,NaN
1739,NA12812,1454,0,0,1,0,CEU,pat grandfather,0,0,...,1,0,1,1,NA12812,CEU,EUR,male,NaN,NaN
1740,NA12813,1454,0,0,2,0,CEU,pat grandmother,NA07045,NA06997,...,1,0,1,1,NA12813,CEU,EUR,female,NaN,NaN
1741,NA12814,1454,0,0,1,0,CEU,mat grandfather,0,0,...,1,0,1,1,NA12814,CEU,EUR,male,NaN,NaN
1742,NA12815,1454,0,0,2,0,CEU,mat grandmother,0,0,...,1,0,1,1,NA12815,CEU,EUR,female,NaN,NaN
1743,NA12827,1456,0,0,1,0,CEU,pat grandfather,0,0,...,1,0,1,1,NA12827,CEU,EUR,male,NaN,NaN
1744,NA12828,1456,0,0,2,0,CEU,pat grandmother,0,0,...,1,0,1,1,NA12828,CEU,EUR,female,NaN,NaN
1745,NA12829,1456,0,0,1,0,CEU,mat grandfather,0,0,...,1,0,1,1,NA12829,CEU,EUR,male,NaN,NaN
1746,NA12830,1456,0,0,2,0,CEU,mat grandmother,0,0,...,1,0,1,1,NA12830,CEU,EUR,female,NaN,NaN
1747,NA12842,1458,0,0,1,0,CEU,mat grandfather,0,0,...,1,0,1,1,NA12842,CEU,EUR,male,NaN,NaN
1748,NA12843,1458,0,0,2,0,CEU,mat grandmother,0,0,...,1,0,1,1,NA12843,CEU,EUR,female,NaN,NaN
1749,NA12872,1459,0,0,1,0,CEU,pat grandfather,0,0,...,1,0,1,1,NA12872,CEU,EUR,male,NaN,NaN
1750,NA12873,1459,0,0,2,0,CEU,pat grandmother,0,0,...,1,0,1,1,NA12873,CEU,EUR,female,NaN,NaN
1751,NA12874,1459,0,0,1,0,CEU,mat grandfather,0,0,...,1,0,1,1,NA12874,CEU,EUR,male,NaN,NaN
1752,NA12878,1463,NA12891,NA12892,2,0,CEU,mother; child,0,0,...,1,0,1,1,NA12878,CEU,EUR,female,NaN,NaN
1753,NA12889,1463,0,0,1,0,CEU,pat grandfather; father,0,0,...,1,0,1,1,NA12889,CEU,EUR,male,NaN,NaN
1754,NA12890,1463,0,0,2,0,CEU,pat grandmother; mother,0,0,...,1,0,1,1,NA12890,CEU,EUR,female,NaN,NaN