# Notebook to test random Code chunks.
The ultimate Sandbox

In [28]:
import numpy as np
import os as os
import sys as sys
import multiprocessing as mp
import pandas as pd
import socket

### Pick the right path (whether on cluster or at home)
socket_name = socket.gethostname()
print(socket_name)
if socket_name == "VioletQueen":
    path = "/home/harald/git/HAPSBURG/"   # The Path on Harald's machine
elif socket_name.startswith("midway2"):
    print("Midway jnovmbre partition detected.")
    path = "/project2/jnovembre/hringbauer/HAPSBURG/"  # The Path on Midway Cluster
else: 
    raise RuntimeWarning("Not compatible machine. Check!!")
    
os.chdir(path)  # Set the right Path (in line with Atom default)

sys.path.append("./Python3/")  # Since now we are in the Root Directory
from hmm_inference import HMM_Analyze   # Do not move. Should be after sys.path..
#sys.path.append("./Python3/create1000G_Mosaic/")  # Since now we are in the Root Directory
#from createMosaicsMulti import Mosaic_1000G_Multi  # Import the object that can create the Multiruns

print(os.getcwd()) # Show the current working directory. Should be HAPSBURG/Notebooks/ParallelRuns
print(f"CPU Count: {mp.cpu_count()}")

midway2-0401.rcc.local
Midway jnovmbre partition detected.
/project2/jnovembre/hringbauer/HAPSBURG
CPU Count: 28

# Test direct shell code on cluster

In [2]:
os.chdir("./PackagesSupport/cluster_runs/Marcus_callROH/")  # Set the right Path (in line with Atom default)
print(os.getcwd())

/project2/jnovembre/hringbauer/HAPSBURG/PackagesSupport/cluster_runs/Marcus_callROH

In [ ]:
!python3 run_individual_Marcus.py 0

# Random Code Chunks

In [5]:
meta_path = "./Data/Marcus2019_1240k/meta_rev_final.csv"
anc_sardind= 85
anc_ind =  1087
cutoff_cov = 0.5    

### Coverage Cutoff
meta_df = pd.read_csv(meta_path)
anc_sard_df = meta_df[anc_sardind:anc_ind]

df_anno = anc_sard_df[(anc_sard_df["mean_cov"] > cutoff_cov) & (anc_sard_df["include_alt"] > 0)]
print(f"Loaded {len(df_anno)} High Coverage Ancients")

Loaded 517 High Coverage Ancients

In [17]:
def test(a, b="10", **prms):
    print(prms["c"])
    for i in prms:
        print(i)

In [35]:
df1 = pd.read_csv("./Empirical/1240k/SA_Readcounts/Downsample_Loschbour_ph/0.3000_roh_full.csv")

In [36]:
df2 = pd.read_csv("./Empirical/1240k/SA_Readcounts/Downsample_Loschbour_ph/0.3000_roh_fullE7.csv")

In [37]:
df1.head(10)

   Start   End    StartM      EndM  length   lengthM  iid  ch
0    191   242  0.070431  0.085345      51  0.014914  0.3   1
1    333   568  0.100517  0.127315     235  0.026798  0.3   1
2    582   898  0.130426  0.172148     316  0.041722  0.3   1
3   1112  1179  0.198436  0.213236      67  0.014800  0.3   1
4   1278  1348  0.225892  0.237294      70  0.011402  0.3   1
5   1606  1744  0.293235  0.306605     138  0.013370  0.3   1
6   2446  2568  0.423440  0.442135     122  0.018695  0.3   1
7   2628  2892  0.450187  0.476454     264  0.026267  0.3   1
8   3432  3532  0.531791  0.543012     100  0.011221  0.3   1
9   3805  3979  0.574291  0.587656     174  0.013365  0.3   1

In [38]:
df2.head(10)

   Start   End    StartM      EndM  length   lengthM  iid  ch
0    198   235  0.071471  0.081192      37  0.009721  0.3   1
1    340   891  0.102094  0.171953     551  0.069859  0.3   1
2   1119  1172  0.199680  0.211341      53  0.011661  0.3   1
3   1285  1341  0.227056  0.236677      56  0.009621  0.3   1
4   1613  1737  0.293450  0.305609     124  0.012159  0.3   1
5   2453  2885  0.423718  0.475296     432  0.051578  0.3   1
6   3439  3525  0.531981  0.542870      86  0.010889  0.3   1
7   3812  3972  0.574579  0.586518     160  0.011939  0.3   1
8   4233  4400  0.616726  0.634173     167  0.017447  0.3   1
9   4700  4828  0.678615  0.690013     128  0.011398  0.3   1